<header class="masthead">

<div class="container d-flex h-100 align-items-center">
  <div class="mx-auto text-center">
  
    
    <h2 class="text-white-50 mx-auto mt-2 mb-5">
    <%= form_for(@booking) do |f| %>
        <%= f.label :trainer_id %>
        <%= f.collection_select :trainer_id, current_user.area.trainers, :id, :name %><br>
    
        <%= f.label :date %>
        <%= f.date_select :date, :start_year => Date.current.year %>
        <br>
    
        <%= f.label :time %>
        <%= f.select :time, Booking::TIMES %><br>
    
        <%= f.submit %>
    
    <% end %></h2>
  
    <% if @booking.errors.full_messages.length > 0 %>
    <h3> The following errors occurred: </h3>
    <ul><% @booking.errors.full_messages.each do |message| %>
    <li style=”color:red”><%= message %></li>
    <% end %>
    </ul>
    <% end %>
  
</div>
</header>




<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/grayscale.min.js"></script>




