<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ComeTrainMeLdn - Start Bootstrap Theme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="/Users/admin/Desktop/come-train-me-ldn/app/assets/stylesheets/come_train_me.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/grayscale.min.css" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

  <body>
  
    <% if flash[:notice] %>
      <h4><%= flash[:notice] %></h4>
      <% flash.clear %>
    <% end %> 
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
    <% if current_user %>
      
       <h3 class="text-white-50 mx-auto mt-2 mb-5">You are logged in as: <%= current_user.username %></h3>
        <%= link_to "Log Out", user_sessions_path, method: :delete %>
        <%= link_to "My Profile", user_path(current_user.id) %>
      <% elsif current_trainer %>
        <h3 class="text-white-50 mx-auto mt-2 mb-5">You are logged in as: <%= current_trainer.username %></h3>
        <%= link_to "Log Out", trainer_sessions_path, method: :delete %>
        <%= link_to "My Profile", trainer_path(current_trainer.id) %>
     
    <% end %> 
    </div>
    </nav> 
    <div class="main-app-container"> 
    
    <%= yield %>
    </div>
  </body>
</html>
